{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>   Bienvenue sur la Contact Page </h1>
        <p>  VoICi la Contact Page la Contact. </p>
    </div>

{% endblock %}